{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #000000; padding: 2px 6px; }
</style>



<nav class="navbar navbar-expand-sm bg-dark">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="presentation">Presentation</a>
                    </li>
                    
                </ul>

                
                    
                </ul>

                 </ul>

                 <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="projet/info">Projets_Informatiques</a>
                    </li>
                    
                </ul>
                </nav>
            
<h1>Bienvenue sur symfony</h1>
             
{% endblock %}
