
{% extends 'base.html.twig'%}



{% block body %}
<section>
<br/>
<div>
    <img src="http://www.holo3.com/wp-content/uploads/2017/07/image-homme-anonyme.png">
   
<p><strong> YOUSFI Abdelkader</strong> </br>Née le 09 Avril 1990<br/>

          </br> 75,Av augustin fliche 34090 Montpellier<br/>
       Contact:Abdelkader.yousfi@etu.umontpellier.fr </br>
       Tel:0769-09-92-45</br></p>
       
</div>
                
</section>
       
{% endblock %}






