{% extends 'base.html.twig' %}

{% block title %}Hello ProjetInfoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #000000; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>
    <img src="http://www.fc-bussy.com/images/Photo_divers/image-homme-anonyme-3.png" alt="" />
    

<ul>
 {#   je parcoure le tableau pour recuperer le nom et le prenom de l'utilisateur #}  
    {% for a in users %}
        <div class="p-3 mb-2 bg-success text-black">
        
        <li>Nom: {{a.nom}}</li>
        <li> Prenom: {{a.prenom}}</li>
        <div class="p-3 mb-2 bg-success text-black">
        {#   je parcoure les coordonnées de chaque utilisateur pour recuperer ces coordonnées #}  
        {% for b in a.coordonnees %}
            <li>Email: {{b.email}}</li>  
            <li> Adresse: {{b.adresse}}</li> 
            <li> telephone:{{b.telephone}}</li>
            <li> <a href="{{b.reseauxSociaux}}">Lien Linkedin</a></li>  
        {% endfor %} 
        </div>
        
        </div>
        {#   je parcoure les technologies Favoris de chaque utilisateur p #} 
        <h1>La technologie Favoris</h1>
        {% for b in a.technoFavoris %}
            <li> {{b}}</li>    
        {% endfor %}   
        <h1>les language  favoris</h1>
        {% for b in a.langueFavoris %}
        
            <li> {{b}}</li>    
        {% endfor %} 

        <h1>Projet informatique</h1>
        {#   je parcoure projets Informatiques Favoris de chaque etulisateur p #} 
        {% for b in a.projetInformatiques %}
            <li>{{b.nom}}</li> 
            <li><a href="{{b.lien}}">lien: {{b.lien}}</a></li>
        
        {% endfor %} 

        <h1>les Hobbie</h1>
        {#   je parcoure les hobbies de chaque etulisateur #} 
        {% for b in a.hobbies %}
        
            <li> nom :{{b.nom}}</li> 
            <li> Description: {{b.description}}</li>    
        {% endfor %} 

    

         
    {% endfor %}  
    
</ul>
</div>
</div>
{% endblock %}


